body {
    background-color: #f4f4f4; /* Fondo claro */
    color: #333; /* Texto oscuro */
    font-family: 'Georgia', serif;
    margin: 0;
    padding: 0;
}

header {
    background: #3e3e3e;
    padding: 20px 0;
    border-bottom: 4px solid #d4af37; /* Añadir un toque dorado */
}

.navbar-brand img {
    height: 60px;
}

.navbar-dark .navbar-nav .nav-link {
    color: #d4af37; /* Color dorado */
    font-weight: bold;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: #ffdd44;
}

.intro {
    background: #ffffff;
    padding: 50px;
    border: 1px solid #d4af37;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

.intro h1 {
    font-size: 3rem;
    color: #3e3e3e;
    font-family: 'Georgia', serif;
    text-shadow: 1px 1px 2px #d4af37;
}

.intro p {
    font-size: 1.5rem;
    color: #666;
}

.buttons .btn {
    background-color: #3e3e3e;
    color: #d4af37;
    border: 2px solid #d4af37;
    font-weight: bold;
}

.buttons .btn:hover {
    background-color: #d4af37;
    color: #3e3e3e;
}

footer {
    background: #3e3e3e;
    color: #d4af37;
    padding: 20px 0;
    border-top: 4px solid #d4af37;
}

footer p {
    margin: 0;
}